body{
    background-color: orange;
}
#container{
    background-color: white;
    width: 1000px;
    margin: 0 auto;
}
header{
    background-color: #EEEEEE;
    color: brown;
    border: 4px brown dashed;
}
aside{
    width: 250px;
    float: left;
}
article{
    width: 700px;
    float: right;
}
footer{
    background-color: #EEEEEE;
    color: gray;
    clear: both;
}
h2{
    color: orange;
}
h3, h4{
    color: brown;
}
input, textarea{
    display: block;
}